<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Example Website for Surfly</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    <script type="text/javascript">(function(){window['_surfly_settings']=window['_surfly_settings']||{
        widgetkey:"dd402bb4940b4cf3a855aaa371d11419",
        apiserver:"https://surfly.com/v2/",
        docked_only: true,
        };var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src="//surfly.com/static/js/widget.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n); })();
    </script>

    <!-- Bootstrap -->
       <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='theme.css') }}">
       <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap_changed.min.css') }}">
       <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-theme.min.css') }}">

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
       <div class="container">
          <div class="navbar-header">
             <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
             </button>
             <a class="navbar-brand" href="{{ url_for('index') }}">Example Website</a>
           </div>
        <div id="navbar" class="navbar-collapse collapse">
           <ul class="nav navbar-nav">
              <li><a href="{{ url_for('index') }}">Home</a></li>
              <li><a href="{{ url_for('landing_page') }}">Landing page</a></li>
              <li><a href="{{ url_for('input') }}">Input</a></li>
           </ul>
        </div>
     </div>
   </nav>
   <div class"container theme-showcase" role="main">
   <div class="jumbotron">
   <h1>Index</h1>
   </div>
  </body>
</html>
