<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Enter code</title>
  </head>
  <body>
      <h3>Please fill in your code</h3>
      <form>
         <p><input type="text" id="codeInput" value=""/></p>
         <p><input type="submit" onclick="getForm();"/>
      </form>    
 

      <table id="checkCode">
        <tr>
          <td>Howard</td>
          <td>Smith</td>
          <td>1234</td>
        </tr>
        <tr>
           <td>Ruth</td>
           <td>Smith</td>
           <td>0987</td>
        </tr>
       <table>

      <script type="text/javascript">
       function getForm() {
          /* save the input from the text-box */
          var input = document.getElementById("codeInput").value;
          console.log(input);
          /* get the table */
          var table = document.getElementById('checkCode');
          for (var r = 0; r < table.rows.length; r++) {
             for (var c = 0; c < table.rows[r].cells.length; c++) {
                /* get each element stored in the table */
                var tableData = table.rows[r].cells[c].innerHTML;
                console.log(tableData);
                /* compare it to the input in the text box */
                if (input === tableData){
                    alert("success");
                } else {
                    alert("failure");
            }
        }
    }
}
       </script>
  </body>
</html>
